/* REUSABLE COMPONENTS */
/* REUSABLE COMPONENTS */
/* REUSABLE COMPONENTS */

/* Text */

.heading-style-1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: 200;
}

.heading-style-3 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: 300;
}

.heading-style-2 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-weight: 300;
}

.heading-style-4 {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.heading-style-5 {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.primary-paragraph {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.secondary-paragraph {
  font-size: var(--font-size-base);
  line-height: 1.25rem;
  font-weight: 200;
}

.decorative-text {
  font-family: var(--font-decorative);
}

/* tuto classu použiji, pokud chci text animovat */

.decorative-animation {
  opacity: 0;
  display: inline-block;
  transform: translateY(20px);
  filter: blur(8px);
  transition: opacity 1.8s ease-out, transform 1.8s ease-out,
    filter 1.8s ease-out;
}

.decorative-animation.visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

/* ANIMATIONS */

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-16px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-16px) rotate(-360deg);
  }
}

/* CTAs */

.cta-one {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xxl);
  background: var(--cta-color);
  color: var(--text-light);
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-base);
  border: none;
}

.cta-two {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xxl);
  background: var(--transparent);
  color: var(--text-dark);
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-base);
  border: 1px solid var(--text-dark);
}

.full-width-line {
  width: 100%;
  background-color: var(--text-dark);
  height: 1px;
}

/* Header */
/* Header */
/* Header */

header {
  margin-top: 32px;
}

.hamburger-menu svg {
  height: 40px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Theme switch */

.theme-switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 36px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9eaf0;
  border-radius: var(--radius-xxl);
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* na ikonky */
  padding: 9.5px;
}

.slider svg {
  z-index: 100;
}

.slider::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  /* na posuvnik */
  left: 4px;
  background-color: var(--bg-dark);
  border-radius: 50%;
  transition: 0.4s;
}

/* input:checked + .slider {
  background-color: #3183fc;
} */

input:checked + .slider::before {
  transform: translateX(30px);
}

/* Languages */

nav ul li a {
  color: var(--text-dark);
}

.active-language {
  text-decoration: underline;
}

/* Hamburger menu */

.hamburger-menu {
  width: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* ANIMATION FRAME SETTINGS */

.lottie-animation {
  overflow: hidden;
  border-radius: 16px;
  background-color: #282828;
}
