/* REUSABLE COMPONENTS */
/* REUSABLE COMPONENTS */
/* REUSABLE COMPONENTS */

/* Text */

.heading-style-1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: 200;
}

.heading-style-3 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: 300;
}

.heading-style-2 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-weight: 300;
}

.heading-style-4 {
  font-size: var(--font-size-sm);
  line-height: var(--line-height-sm);
}

.heading-style-5 {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.heading-style-5 {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.heading-style-6 {
  font-size: var(--font-size-base);
  line-height: 1.25;
}

.heading-style-7 {
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
}

.primary-paragraph {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.secondary-paragraph {
  font-size: var(--font-size-base);
  line-height: 1.25rem;
  font-weight: 200;
}

.decorative-text {
  font-family: var(--font-decorative);
}

/* tuto classu použiji, pokud chci text animovat */

.decorative-animation {
  opacity: 0;
  display: inline-block;
  transform: translateY(20px);
  filter: blur(8px);
  transition: opacity 1.8s ease-out, transform 1.8s ease-out,
    filter 1.8s ease-out;
}

.decorative-animation.visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

/* ANIMATIONS */

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-16px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-16px) rotate(-360deg);
  }
}

/* CTAs */

.cta-one {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xxl);
  background: var(--cta-color);
  color: var(--text-light);
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-base);
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.form-submit {
  display: flex;
  padding: 12px 56px;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xxl);
  background: var(--cta-color);
  color: var(--text-light);
  font-family: var(--font-main);
  font-size: var(--font-size-base);

  font-weight: 400;
  line-height: var(--line-height-base);
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.cta-two {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  gap: 16px;
  background: var(--transparent);
  color: var(--text-dark);
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-base);
  border-bottom: 1px solid var(--text-dark);
  transition: 0.3s;
  cursor: pointer;
}

.cta-two svg {
  height: 20px;
  transition: 0.3s;
}

.cta-two svg path {
  transition: 0.3s;
}

.cta-one:hover,
.form-submit:hover {
  background: var(--cta-hover);
}

.cta-one:focus,
.form-submit:focus {
  background: var(--cta-hover);
}

.cta-one:active,
.form-submit:active {
  background: var(--cta-hover);
}

.cta-one:disabled,
.form-submit:disabled,
.cta-two:disabled {
  background: grey;
}

.cta-two:hover svg path,
.cta-two:hover {
  fill: var(--cta-color);
  color: var(--cta-color);
  border-bottom: 1px solid var(--cta-color);
}

.cta-two:focus {
  border: 2px solid var(--cta-color);
}

.cta-two:active {
  color: var(--text-light);
  background-color: var(--bg-dark);
}

.full-width-line {
  width: 100%;
  background-color: var(--text-dark);
  height: 1px;
}

/* Header */
/* Header */
/* Header */

header {
  margin-top: 32px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* ANIMATION FRAME SETTINGS */

.lottie-animation {
  overflow: hidden;
  border-radius: 16px;
  background-color: #282828;
}
