/* REUSABLE COMPONENTS */
/* REUSABLE COMPONENTS */
/* REUSABLE COMPONENTS */

/* Headings */

.heading-style-1 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: 200;
}

.heading-style-2 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-md);
  font-weight: 300;
}

.heading-style-3 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  font-weight: 300;
}

.heading-style-4 {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.primary-paragraph {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
}

.decorative-text {
  font-family: var(--font-decorative);
}

/* CTAs */

.cta-one {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xl);
  background: var(--cta-color);
  color: var(--text-light);
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-base);
  border: none;
}

.cta-two {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-xl);
  background: var(--transparent);
  color: var(--text-dark);
  font-family: var(--font-main);
  font-size: var(--font-size-base);
  font-style: normal;
  font-weight: 400;
  line-height: var(--line-height-base);
  border: 1px solid var(--text-dark);
}

/* Header */
/* Header */
/* Header */

header {
  margin-top: 32px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 32px;
}

/* Theme switch */

.theme-switch {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 36px;
}

.theme-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e9eaf0;
  border-radius: 50px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* na ikonky */
  padding: 9.5px;
}

.slider svg {
  z-index: 100;
}

.slider::before {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  /* na posuvnik */
  left: 4px;
  background-color: var(--bg-dark);
  border-radius: 50%;
  transition: 0.4s;
}

/* input:checked + .slider {
  background-color: #3183fc;
} */

input:checked + .slider::before {
  transform: translateX(30px);
}

/* Languages */

nav ul li a {
  color: var(--text-dark);
}

.active-language {
  text-decoration: underline;
}

/* Hamburger menu */

.hamburger-menu {
  width: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Hero section */
/* Hero section */
/* Hero section */

.hero-section {
  align-items: center;
}

.hero-section > div {
  grid-column: 1 / 7;
}

.hero-section > figure {
  grid-column: 7 / 13;
}

.hero-section img {
  border-radius: var(--radius-lg);
}

/* Image slider section */
/* Image slider section */
/* Image slider section */

.image-slider {
  overflow-x: auto;
  overflow-y: hidden;
  gap: 16px;
}

.image-slider > div {
  height: 200px;
  width: 100%;
  display: flex;
  gap: 16px;
}

.strip-two,
.strip-one {
  justify-content: center;
}

/* Prevents Safari browser bug */
.image-slider img,
.image-slider picture {
  width: auto;
  height: 100%;
  border-radius: var(--radius-lg);
}

/* Work section */
/* Work section */
/* Work section */

.work-section,
.workflow-section {
  row-gap: var(--inner-gap);
}

.work-section .regular-textbox > * {
  text-align: center;
}

.all-work-cards {
  display: grid;
  grid-template-rows: repeat(6, auto);
  row-gap: 32px;
  grid-column: 1 / -1;
}

.work-card {
  background: var(--bg-light);
  padding: 16px 16px 16px 40px;
  border-radius: var(--radius-lg);
}

.work-cards {
  grid-column: 1 / -1;
}

.work-text {
  grid-column: 1 / 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px 0;
}

.work-image {
  grid-column: 6 / -1;
  height: 400px;
  overflow: hidden;
  border-radius: var(--radius-md);
}

.work-image picture {
  height: 100%;
  width: 100%;
}

.work-image img {
  /* margin-top: 30px; */
  height: 100%;
  width: 100%;
  border-radius: var(--radius-md);
  object-fit: cover;
}

.pargagraph-tags-box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.tags-box {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.tags-box span {
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  padding: 6px 24px;
  border-radius: var(--radius-xl);
  border: 1px solid #000;
}

/* My workflow */
/* My workflow */
/* My workflow */

.workflow-section {
}

.workflow-steps {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
  column-gap: 32px;
}

.dividing-line-vertical {
  background-color: black;
}

.single-step {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}

.single-step svg {
  height: 32px;
}

.single-step h3 {
  text-align: center;
}

/* Contact me */
/* Contact me */
/* Contact me */

.contact-me {
  background: var(--bg-dark);
  padding: 80px 0;
  border-radius: var(--radius-lg);
  position: relative;
  row-gap: 104px;
}

.contact-me * {
  color: var(--text-light);
  text-align: center;
}

.no-gravity-zone {
  padding: 40px 0;
  position: relative;
  width: 100%;
}

.text-slider {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: nowrap;
  overflow: hidden;
}

.dividing-line-horizontal {
  background-color: var(--text-light);
  height: 1px;
  width: 160px;
  min-width: 160px;
}

.text-slider h3 {
  font-size: var(--font-size-xl);
}

.click-banner {
  display: flex;
  gap: 8px;
  border-radius: var(--radius-sm);
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(8px);
  /* lepší podpora pro prohlížeče */
  -webkit-backdrop-filter: blur(8px);
  padding: 12px 24px;
  align-items: center;
  position: absolute;
  /* transform: translate(-50%, -50%); */
}

.piece-1 {
  left: 10%;
  top: 0%;
}

.piece-2 {
  left: 30%;
  top: 60%;
}

.piece-3 {
  left: 60%;
  top: 15%;
}

.piece-4 {
  left: 85%;
  top: 65%;
}

.click-banner svg {
  height: 20px;
}

/* Why me section */

.why-me .regular-textbox > * {
  text-align: center;
}
