/* Grid, flexbox, spacing */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 24px;
}

/* Udává šířku */

.regular-container {
  width: calc(100% - 160px);
  max-width: 1280px;
}

.full-width-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Udává mezery mezi sekcemi */

.outer-section {
  margin-top: 144px;
}

/* Udává běžný grid sekcí */

.regular-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  column-gap: var(--grid-gutter);
  grid-auto-rows: auto;
}

.regular-flex {
  display: flex;
  flex-direction: column;
}

/* inner boxes */

.regular-textbox {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-column: 1 / -1;
  align-items: center;
}

.width-textbox {
  display: flex;
  grid-column: 1 / -1;
  justify-content: space-between;
  align-items: center;
}

.full-textbox {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 56px;
  grid-column: 1 / -1;
}

.button-box {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

.width-keeper {
  max-width: 632px;
}

.width-keeper-2 {
  max-width: 400px;
}

.vertical-icon-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.horizontal-icon-box {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  gap: 32px;
}
