/* Grid, flexbox, spacing */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.regular-container {
  width: calc(100% - 160px); /* 80px margin on both sides */
  max-width: 1280px;
}

.full-width-container {
  width: 100%;
}

.outer-section {
  margin-top: 160px;
}

.regular-grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  column-gap: var(--grid-gutter);
}

/* inner boxes */

.regular-textbox {
  display: flex;
  flex-direction: column;
  gap: 40px;
  grid-column: 1 / -1;
  align-items: center;
}

.work-cards {
  grid-column: 1 / -1;
}

.button-text-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.button-box {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

.width-keeper {
  max-width: 632px;
}
