@media only screen and (max-width: 1230px) {
  /* Hero section */
  /* Hero section */
  /* Hero section */

  .hero-section > div {
    grid-column: 1 / 8;
  }

  .hero-section > picture {
    grid-column: 8 / 13;
  }

  /* Image slider */
  /* Image slider */
  /* Image slider */

  .image-slider > div {
    height: 150px;
  }

  /* Work section */
  /* Work section */
  /* Work section */

  .paragraph-tags-box {
    gap: 24px;
  }

  /* Workflow */

  .workflow-section .single-step h3 {
    max-width: 170px;
  }

  /* Why me */
  /* Why me */
  /* Why me */

  .why-me .triple-box > div:last-child {
    grid-column: 1 / -1;
  }

  .why-me .triple-box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .why-me .triple-box > div:last-child .lottie-animation {
    max-height: 140px;
    height: 100%;
  }
}

@media only screen and (max-width: 1050px) {
  :root {
    /* Perfect Four Typography Scale */
    --font-size-xl: 3.158rem;
    --line-height-xl: 3.5rem;

    --font-size-lg: 1.777rem;
    --line-height-lg: 2rem;

    --font-size-md: 1.333rem;
    --line-height-md: 1.75rem;

    --font-size-base: 1rem;
    --line-height-base: 1.5rem;

    --font-size-xs: 0.75rem;
    --line-height-xs: 1rem;

    --font-size-xxs: 0.563rem;
    --line-height-xxs: 1rem;

    /* Spacing */
    --inner-gap: 64px;
    --gap-lg: 32px;
    --gap-md: 16px;
    --gap-sm: 8px;
    --gap-xs: 4px;

    /* Grid System */
    --grid-columns: 8;
    --grid-margin: 40px;
    --grid-gutter: 16px;
  }

  .regular-container {
    width: calc(100% - 80px);
  }

  .outer-section {
    margin-top: 128px;
  }

  .decorative-animation {
    transform: translateY(16px);
  }

  .regular-grid {
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    column-gap: var(--grid-gutter);
  }

  .regular-textbox {
    gap: 24px;
  }

  .full-textbox {
    gap: 16px;
  }

  .heading-textbox {
    gap: 40px;
  }

  /* button box */

  /* width-keeper

  width-keeper-2 */

  .cta-one {
    padding: 10px 20px;
  }

  .cta-two {
    padding: 10px 20px;
  }

  /* Hero section */
  /* Hero section */
  /* Hero section */

  .hero-section > div {
    grid-column: 1 / 5;
  }

  .hero-section > picture {
    grid-column: 5 / 9;
  }

  .hero-section .full-textbox span {
    margin-bottom: 4px;
  }

  /* Image slider section */
  /* Image slider section */
  /* Image slider section */

  .image-slider > div {
    height: 150px;
  }

  .image-slider img,
  .image-slider picture {
    border-radius: var(--radius-md);
  }

  /* Work section */
  /* Work section */
  /* Work section */

  .work-text {
    grid-column: 1 / 4;
  }

  .work-image {
    grid-column: 4 / 9;
    height: 350px;
  }

  /* Contact me */
  /* Contact me */
  /* Contact me */

  .click-banner:last-child {
    left: 73%;
  }

  .click-banner:nth-child(3) {
    left: 55%;
    top: 0;
  }

  /* Why me */
  /* Why me */
  /* Why me */

  .why-me .vertical-icon-box svg {
    height: 40px;
  }

  .why-me .double-box > div {
    padding: 8px;
  }

  .double-box > div {
    border-radius: var(--radius-lg);
  }

  .why-me .double-box > div .horizontal-icon-box {
    padding: 16px 16px 0 16px;
  }

  .why-me .double-box p {
    margin-top: auto;
  }

  .why-me .double-box > div p {
    padding: 40px 16px 0 16px;
  }

  .earth-box > div {
    grid-column: 1 / 6;
  }

  .earth-box > picture {
    grid-column: 6 / 9;
  }

  .earth-box p {
    max-width: 500px;
  }

  .earth-box h3 .decorative-text {
    margin-left: 0;
  }

  /* REVIEWS */
  /* REVIEWS */
  /* REVIEWS */

  .reviews h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }

  .reviews h2 .decorative-text {
    margin-left: auto;
  }

  .reviews .review-card {
    grid-row: 1 / 2;
    grid-column: 6 / -1;
  }

  .reviews .review-card:nth-child(2) {
    grid-row: 2 / 3;
    transform: translateY(-88px);
    grid-column: 1 / 4;
  }

  .reviews .review-card:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 5 / 8;
    margin-top: 68px;
  }

  /* Final cta */
  /* Final cta */
  /* Final cta */

  .final-cta .icon-banner:nth-child(5) {
    left: 13%;
    top: 85%;
  }

  .final-cta .icon-banner:nth-child(1) {
    left: 1%;
    top: 40%;
  }

  .final-cta .icon-banner:nth-child(6) {
    left: 90%;
    top: 85%;
  }
}

@media only screen and (max-width: 980px) {
}

@media only screen and (max-width: 900px) {
  /* Work section */
  /* Work section */
  /* Work section */

  .work-card {
    padding: 0;
    gap: 32px;
  }

  .work-card,
  .work-image {
    border-radius: var(--font-size-lg);
  }

  .horizontal-icon-box svg {
    display: none;
    grid-template-columns: 1fr;
  }

  .horizontal-icon-box {
    grid-template-columns: 1fr;
  }

  .work-text {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-start;
    padding: 32px 32px 0 32px;
    gap: 16px;
    max-width: 700px;
  }

  .width-keeper-2 {
    max-width: 600px;
  }

  .work-image {
    grid-column: 1 / -1;
    height: 400px;
  }

  .work-image img {
    transform: translate(-50%, -50%);
    height: 110%;
  }

  /* My workflow */
  /* My workflow */
  /* My workflow */

  .workflow-steps {
    grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
    column-gap: 16px;
    align-items: center;
  }

  .workflow-section .dividing-line-vertical {
    height: 80px;
  }

  .single-step {
    row-gap: 24px;
  }

  /* WHY ME */

  .ticks {
    gap: 32px;
  }
}

@media only screen and (max-width: 967px) {
  /* Why me */

  .why-me .double-box > div h3 {
    max-width: 293px;
  }
}

@media only screen and (max-width: 880px) {
  /* Hero section */
  /* Hero section */
  /* Hero section */

  .hero-section > div {
    grid-column: 1 / 6;
  }

  .hero-section > picture {
    grid-column: 6 / 9;
  }

  /* Reviews */
  /* Reviews */
  /* Reviews */

  .reviews .review-card {
    padding: 32px 8px;
  }
}

@media only screen and (max-width: 823px) {
  /* Why me */

  .why-me .double-box > div:last-child h3 {
    max-width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    /* Perfect Four Typography Scale */
    --font-size-xl: 2.369rem;
    --line-height-xl: 2.75rem;

    --font-size-lg: 1.777rem;
    --line-height-lg: 2rem;

    --font-size-md: 1.333rem;
    --line-height-md: 1.75rem;

    --font-size-base: 1rem;
    --line-height-base: 1.5rem;

    --font-size-xs: 0.75rem;
    --line-height-xs: 1rem;

    --font-size-xxs: 0.563rem;
    --line-height-xxs: 1rem;

    /* Grid System */
    --grid-columns: 4;
    --grid-margin: 16px;
    --grid-gutter: 16px;
  }

  .regular-container {
    width: calc(100% - 32px);
  }

  .regular-textbox {
    gap: 16px;
  }

  .full-textbox {
    gap: 16px;
  }

  .heading-textbox {
    gap: 32px;
  }

  /* Hero section */
  /* Hero section */
  /* Hero section */

  .hero-section > div {
    grid-column: 1 / -1;
  }

  .hero-section > picture {
    grid-column: 5 / 9;
  }

  .hero-section .full-textbox span {
    margin-bottom: 4px;
  }

  /* My workflow */
  /* My workflow */
  /* My workflow */

  /* .workflow-steps {
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 64px;
    align-items: center;
  }

  .workflow-section .dividing-line-vertical:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .workflow-section .dividing-line-vertical {
    height: 80px;
  }

  .workflow-section .dividing-line-vertical:nth-child(2),
  .workflow-section .dividing-line-vertical:nth-child(1) {
    display: none;
  }

  .single-step {
    row-gap: 24px;
  } */

  /* REVIEWS */
  /* REVIEWS */
  /* REVIEWS */

  /* .reviews {
    row-gap: 64px;
  }

  .reviews h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 6;
  }

  .reviews .review-card {
    grid-row: 2 / 3;
    grid-column: 5 / -1;
  }

  .reviews .review-card:nth-child(2) {
    grid-row: 3 / 4;
    transform: translateY(0);
    grid-column: 1 / 5;
  }

  .reviews .review-card:nth-child(3) {
    grid-row: 4 / 5;
    grid-column: 5 / 9;
    margin-top: 0;
  } */
}
