@media only screen and (max-width: 1230px) {
  /* Hero section */
  /* Hero section */
  /* Hero section */

  .hero-section > div {
    grid-column: 1 / 8;
  }

  .hero-section > img {
    grid-column: 8 / 13;
  }

  /* Image slider */
  /* Image slider */
  /* Image slider */

  .image-slider > div {
    height: 150px;
  }

  /* Work section */
  /* Work section */
  /* Work section */

  .paragraph-tags-box {
    gap: 24px;
  }

  /* Workflow */

  .workflow-section .single-step h3 {
    max-width: 170px;
  }

  /* Why me */
  /* Why me */
  /* Why me */

  .why-me .triple-box > div:last-child {
    grid-column: 1 / -1;
  }

  .why-me .triple-box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .why-me .triple-box > div:last-child .lottie-animation {
    max-height: 140px;
    height: 100%;
  }
}

@media only screen and (max-width: 1050px) {
  :root {
    /* Perfect Four Typography Scale */
    --font-size-xl: 3.158rem;
    --line-height-xl: 3.5rem;

    --font-size-lg: 1.777rem;
    --line-height-lg: 2rem;

    --font-size-md: 1.333rem;
    --line-height-md: 1.75rem;

    --font-size-base: 1rem;
    --line-height-base: 1.5rem;

    --font-size-xs: 0.75rem;
    --line-height-xs: 1rem;

    --font-size-xxs: 0.563rem;
    --line-height-xxs: 1rem;

    /* Spacing */
    --inner-gap: 64px;
    --gap-lg: 32px;
    --gap-md: 16px;
    --gap-sm: 8px;
    --gap-xs: 4px;

    /* Grid System */
    --grid-columns: 8;
    --grid-margin: 40px;
    --grid-gutter: 16px;
  }

  .regular-container {
    width: calc(100% - 80px);
  }

  .outer-section {
    margin-top: 128px;
  }

  .last-section {
    margin-top: 128px;
    margin-bottom: 128px;
  }

  .decorative-animation {
    transform: translateY(16px);
  }

  .regular-grid {
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    column-gap: var(--grid-gutter);
  }

  .regular-textbox {
    gap: 24px;
  }

  .full-textbox {
    gap: 16px;
  }

  .heading-textbox {
    gap: 40px;
  }

  /* button box */

  /* width-keeper

  width-keeper-2 */

  .cta-one {
    padding: 10px 20px;
  }

  .cta-two {
    padding: 10px 20px;
  }

  /* Hero section */
  /* Hero section */
  /* Hero section */

  .hero-section > div {
    grid-column: 1 / 5;
  }

  .hero-section > img {
    grid-column: 5 / 9;
  }

  .hero-section .full-textbox span {
    margin-bottom: 4px;
  }

  /* Image slider section */
  /* Image slider section */
  /* Image slider section */

  .image-slider > div {
    height: 150px;
  }

  .image-slider img,
  .image-slider picture {
    border-radius: var(--radius-md);
  }

  /* Work section */
  /* Work section */
  /* Work section */

  .work-text {
    grid-column: 1 / 4;
  }

  .work-image {
    grid-column: 4 / 9;
    height: 350px;
  }

  /* Contact me */
  /* Contact me */
  /* Contact me */

  .click-banner:last-child {
    left: 73%;
  }

  .click-banner:nth-child(3) {
    left: 55%;
    top: 0;
  }

  .dividing-line-horizontal {
    height: 1px;
    width: 104px;
    min-width: 104px;
  }

  .slider-wrapper {
    gap: 24px;
  }

  .contact-me {
    padding: 64px 0;
  }

  /* Why me */
  /* Why me */
  /* Why me */

  .why-me .vertical-icon-box svg {
    height: 40px;
  }

  .why-me .double-box > div {
    padding: 8px;
  }

  .double-box > div {
    border-radius: var(--radius-lg);
  }

  .why-me .double-box > div .horizontal-icon-box {
    padding: 16px 16px 0 16px;
  }

  .why-me .double-box p {
    margin-top: auto;
  }

  .why-me .double-box > div p {
    padding: 40px 16px 0 16px;
  }

  .earth-box > div {
    grid-column: 1 / 6;
  }

  .earth-box > picture {
    grid-column: 6 / 9;
  }

  .earth-box p {
    max-width: 500px;
  }

  .earth-box h3 .decorative-text {
    margin-left: 0;
  }

  /* REVIEWS */
  /* REVIEWS */
  /* REVIEWS */

  .reviews h2 {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
  }

  .reviews h2 .decorative-text {
    margin-left: auto;
  }

  .reviews .review-card {
    grid-row: 1 / 2;
    grid-column: 6 / -1;
  }

  .reviews .review-card:nth-child(2) {
    grid-row: 2 / 3;
    transform: translateY(-88px);
    grid-column: 1 / 4;
  }

  .reviews .review-card:nth-child(3) {
    grid-row: 2 / 3;
    grid-column: 5 / 8;
    margin-top: 68px;
  }

  /* Final cta */
  /* Final cta */
  /* Final cta */

  .final-cta .icon-banner:nth-child(5) {
    left: 13%;
    top: 85%;
  }

  .final-cta .icon-banner:nth-child(1) {
    left: 1%;
    top: 40%;
  }

  .final-cta .icon-banner:nth-child(6) {
    left: 90%;
    top: 85%;
  }

  .final-cta {
    padding: 88px 24px;
  }

  .final-cta h2 {
    line-height: 4rem;
  }

  /* Footer */
  /* Footer */
  /* Footer */

  footer {
    height: 270px;
  }

  .cloud-space img {
    width: 180px;
    left: 40%;
    top: 40%;
  }

  .cloud-space img:nth-child(2) {
    width: 160px;
    left: 70%;
    top: 35%;
  }

  .cloud-space img:last-child {
    width: 170px;
    left: 10%;
    top: 27%;
  }

  footer svg {
    padding: 0 40px;
  }

  footer .info-panel {
    padding: 8px 40px;
  }

  /* Contact page */
  /* Contact page */
  /* Contact page */
  /* Contact page */
  /* Contact page */
  /* Contact page */

  .question-section .regular-textbox {
    grid-column: 1 / 5;
  }

  .question-cards {
    grid-column: 5 / -1;
  }

  /* Form */
  /* Form */
  /* Form */
  /* Form */
  /* Form */

  .form {
    grid-template-columns: 1fr;
  }

  .form-text {
    display: none;
  }

  .word-box {
    padding: 0 40px;
    height: 64px;
  }
}

@media only screen and (max-width: 900px) {
  /* Work section */
  /* Work section */
  /* Work section */

  .work-card {
    padding: 0;
    gap: 32px;
  }

  .work-card,
  .work-image {
    border-radius: var(--font-size-lg);
  }

  .work-text {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-start;
    padding: 32px 32px 0 32px;
    gap: 16px;
    max-width: 700px;
  }

  .width-keeper-2 {
    max-width: 600px;
  }

  .work-image {
    grid-column: 1 / -1;
    height: 400px;
  }

  .work-image img {
    transform: translate(-50%, -50%);
    height: calc(100% + 60px);
  }

  /* My workflow */
  /* My workflow */
  /* My workflow */

  .workflow-steps {
    grid-template-columns: 1fr 1px 1fr 1px 1fr 1px 1fr;
    column-gap: 16px;
    align-items: center;
  }

  .workflow-section .dividing-line-vertical {
    height: 80px;
  }

  .single-step {
    row-gap: 24px;
  }

  /* WHY ME */

  .ticks {
    gap: 32px;
  }
}

@media only screen and (max-width: 967px) {
  /* Why me */

  .why-me .double-box > div h3 {
    max-width: 293px;
  }
}

@media only screen and (max-width: 880px) {
  /* Hero section */
  /* Hero section */
  /* Hero section */

  .hero-section > div {
    grid-column: 1 / 6;
  }

  .hero-section > img {
    grid-column: 6 / 9;
  }

  /* Reviews */
  /* Reviews */
  /* Reviews */

  .reviews .review-card {
    padding: 32px 8px;
  }
}

@media only screen and (max-width: 823px) {
  /* Why me */

  .why-me .double-box > div:last-child h3 {
    max-width: 250px;
  }
}

@media only screen and (max-width: 768px) {
  :root {
    /* Perfect Four Typography Scale */
    --font-size-xl: 2.369rem;
    --line-height-xl: 2.75rem;

    --font-size-lg: 1.777rem;
    --line-height-lg: 2rem;

    --font-size-md: 1.333rem;
    --line-height-md: 1.75rem;

    /* --font-size-sm: 1rem;
    --line-height-sm: 1.5rem; */

    --font-size-base: 1rem;
    --line-height-base: 1.5rem;

    --font-size-xs: 0.75rem;
    --line-height-xs: 1rem;

    --font-size-xxs: 0.563rem;
    --line-height-xxs: 1rem;

    /* Grid System */
    --grid-columns: 4;
    --grid-margin: 16px;
    --grid-gutter: 16px;
  }

  .heading-style-1 {
    font-weight: 300;
  }

  .regular-container {
    width: calc(100% - 32px);
  }

  .outer-section {
    margin-top: 104px;
  }

  .last-section {
    margin-top: 104px;
    margin-bottom: 104px;
  }

  .regular-textbox {
    gap: 16px;
  }

  .full-textbox {
    gap: 16px;
  }

  .heading-textbox {
    gap: 32px;
  }

  /* Hero section */
  /* Hero section */
  /* Hero section */

  .hero-section {
    justify-items: center;
    gap: var(--inner-gap);
    margin-top: 80px;
  }

  .hero-section > div {
    grid-column: 1 / -1;
  }

  .hero-section > img {
    grid-column: 1 / -1;
  }

  .hero-section .full-textbox {
    text-align: center;
    max-width: 400px;
  }

  .hero-section .button-box {
    justify-content: center;
  }

  /* Image slider section */
  /* Image slider section */
  /* Image slider section */

  /* .image-slider {
    display: none;
  } */

  .image-slider > div {
    height: 130px;
  }

  .image-slider {
    gap: 8px;
  }

  .image-slider img,
  .image-slider picture {
    border-radius: var(--radius-md);
  }

  /* Work section */
  /* Work section */
  /* Work section */

  .work-text {
    padding: 32px 24px 0 24px;
  }

  .width-keeper-2 {
    max-width: 600px;
  }

  .work-image {
    grid-column: 1 / -1;
    height: 400px;
  }

  .work-card {
    gap: 24px;
  }

  .tags-box {
    gap: var(--gap-xs);
  }

  .tags-box span {
    font-size: var(--font-size-xs);
    padding: 2px 12px;
  }

  /* My workflow */
  /* My workflow */
  /* My workflow */

  .workflow-steps {
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 64px;
    align-items: center;
    grid-column: 1 / -1;
  }

  .workflow-section .dividing-line-vertical:nth-of-type(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .workflow-section .dividing-line-vertical {
    height: 80px;
  }

  .workflow-section .dividing-line-vertical:nth-child(2),
  .workflow-section .dividing-line-vertical:nth-child(1) {
    display: none;
  }

  .single-step {
    row-gap: 24px;
  }

  .workflow-section {
    row-gap: var(--inner-gap);
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr;
  }

  .workflow-section h2 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: center;
  }

  .workflow-section > a {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    justify-self: center;
  }

  .workflow-section .single-step h3 {
    max-width: 100%;
  }

  /* Contact me */
  /* Contact me */
  /* Contact me */

  .contact-me {
    padding: 40px 0;
    width: 100%;
  }

  .contact-me .regular-textbox {
    padding: 0 24px;
  }

  .click-banner .heading-style-5 {
    font-size: var(--font-size-xs);
  }

  .click-banner svg {
    height: 16px;
  }

  .click-banner:nth-child(3) {
    left: 58%;
    top: 6%;
  }

  .click-banner:nth-child(2) {
    left: 30%;
    top: 70%;
  }

  .click-banner {
    gap: 12px;
    padding: 6px 12px;
  }

  /* Why me */
  /* Why me */
  /* Why me */

  .why-me .vertical-icon-box .heading-style-4 {
    max-width: 250px;
  }

  .why-me .vertical-icon-box svg {
    height: 32px;
  }

  .why-me .ticks .dividing-line-vertical {
    height: 104px;
  }

  .why-me .ticks {
    grid-template-columns: 1fr 1px 1fr;
  }

  .why-me .double-box {
    grid-column: 1 / -1;
    grid-template-columns: 1fr;
  }

  .why-me .double-box > div h3,
  .why-me .double-box > div:last-child h3 {
    max-width: 100%;
  }

  .why-me .horizontal-icon-box svg {
    display: inline;
    height: 32px;
  }

  .horizontal-icon-box {
    grid-template-columns: 1fr auto;
  }

  .why-me .double-box > div p {
    padding: 0 16px 0 16px;
  }

  .earth-box > div {
    grid-column: 1 / 5;
  }

  .earth-box > picture {
    grid-column: 5 / -1;
    width: 250px;
  }

  .why-me .triple-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .why-me .double-box .lottie-animation {
    margin-top: 32px;
  }

  .why-me .triple-box .lottie-animation {
    max-height: 140px;
  }

  /* Reviews */
  /* Reviews */
  /* Reviews */

  .reviews {
    row-gap: 64px;
  }

  .reviews h2 {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  .reviews h2 .decorative-text {
    margin-left: auto;
  }

  .reviews .review-card {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    padding: 32px 24px;
  }

  .reviews .review-card:nth-child(2) {
    grid-row: 3 / 4;
    grid-column: 2 / 5;
    transform: translateY(0);
  }

  .reviews .review-card:nth-child(3) {
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    margin-top: 0;
  }

  .profile-info {
    gap: 4px;
  }

  /* Final cta */
  /* Final cta */
  /* Final cta */

  .icon-banner {
    padding: 12px;
  }

  .icon-banner svg {
    height: 16px;
    width: 16px;
  }

  .final-cta {
    padding: 64px 24px;
  }

  .final-cta h2 {
    line-height: 3rem;
  }

  .final-cta .icon-banner:nth-child(1) {
    left: 16%;
    top: 64%;
  }

  .final-cta .icon-banner:nth-child(2) {
    left: 30%;
    top: 80%;
  }

  .final-cta .icon-banner:nth-child(3) {
    left: 70%;
    top: 75%;
  }

  .final-cta .icon-banner:nth-child(4) {
    left: 80%;
    top: 70%;
  }

  .final-cta .icon-banner:nth-child(5) {
    left: 5%;
    top: 75%;
  }

  .final-cta .icon-banner:nth-child(6) {
    left: 93%;
    top: 85%;
  }

  /* Footer */
  /* Footer */
  /* Footer */

  footer {
    height: 280px;
  }

  .cloud-space img {
    width: 155px;
    top: 40%;
  }

  .cloud-space img:last-child {
    top: 30%;
  }

  footer svg {
    padding: 0 16px;
  }

  footer .info-panel {
    padding: 8px 16px;
  }

  /* Contact page */
  /* Contact page */
  /* Contact page */
  /* Contact page */
  /* Contact page */
  /* Contact page */

  .question-section .regular-textbox {
    grid-column: 1 / -1;
    align-items: center;
    text-align: center;
  }

  .question-cards {
    grid-column: 1 / -1;
  }

  .question-section {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: var(--inner-gap);
  }

  /* Contact steps */
  /* Contact steps */
  /* Contact steps */

  .contact-steps .dividing-line-vertical {
    display: none;
  }

  .contact-steps {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 56px;
  }

  .question-header,
  .answer {
    padding: 24px 16px;
  }

  /* Form */
  /* Form */
  /* Form */
  /* Form */
  /* Form */
  /* Form */

  .form {
    padding: 64px 24px;
  }

  .form .form-row {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

@media only screen and (max-width: 600px) {
  /* Work section */
  /* Work section */
  /* Work section */

  .work-image {
    height: 350px;
  }

  /* Final cta */
  /* Final cta */
  /* Final cta */

  .icon-banner {
    padding: 8px;
  }

  .icon-banner svg {
    height: 12px;
    width: 12px;
  }

  /* Footer */
  /* Footer */
  /* Footer */

  footer {
    height: 220px;
  }

  .cloud-space img {
    width: 120px;
    left: 40%;
    top: 55%;
  }

  .cloud-space img:nth-child(2) {
    width: 120px;
    left: 70%;
    top: 48%;
  }

  .cloud-space img:last-child {
    width: 130px;
    left: 10%;
    top: 43%;
  }
}

@media only screen and (max-width: 530px) {
  .why-me .ticks {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 56px;
  }

  .why-me .ticks .dividing-line-vertical {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  /* header */
  /* header */
  /* header */

  .hamburger-menu svg {
    height: 32px;
  }

  nav ul {
    gap: 24px;
  }

  .slider {
    /* na ikonky */
    padding: auto;
  }

  .theme-switch {
    width: 64px;
    height: 32px;
  }

  .slider svg {
    z-index: 100;
  }

  .slider::before {
    width: 26px;
    height: 26px;
    /* na posuvnik (černý podklad ikonky)*/
    left: 4px;
    border-radius: var(--radius-xxl);
    transition: 0.4s;
  }

  /* input:checked + .slider {
  background-color: #3183fc;
} */

  input:checked + .slider::before {
    transform: translateX(30px);
  }

  /* Image slider */
  /* Image slider */
  /* Image slider */

  .image-slider > div {
    height: 100px;
  }

  /* Work section */
  /* Work section */
  /* Work section */

  .work-image {
    height: 300px;
  }

  /* Workflow */
  /* Workflow */
  /* Workflow */

  .workflow-steps {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 56px;
    align-items: center;
    grid-row: 2 / 3;
  }

  .workflow-section .dividing-line-vertical {
    display: none;
  }

  .single-step {
    row-gap: 16px;
  }

  /* Contact me  */
  /* Contact me  */
  /* Contact me  */

  .click-banner svg {
    height: 12px;
  }

  .click-banner:nth-child(3) {
    left: 55%;
    top: 6%;
  }

  .click-banner:nth-child(2) {
    left: 23%;
    top: 70%;
  }

  .click-banner:last-child {
    left: 68%;
    top: 63%;
  }

  .click-banner {
    gap: 6px;
    padding: 4px 12px;
  }

  /* Why me */
  /* Why me */
  /* Why me */

  .earth-box {
    gap: 32px;
  }

  .earth-box > div {
    grid-column: 1 / -1;
  }

  .earth-box > picture {
    grid-column: 1 / -1;
    width: 100%;
  }

  .earth-box img {
    width: 100%;
  }

  .earth-box p {
    max-width: 500px;
  }

  .earth-box h3 .decorative-text {
    margin-left: auto;
  }

  .why-me .triple-box .lottie-animation {
    max-height: auto;
    height: auto;
    width: 100%;
  }

  .why-me .ticks .vertical-icon-box {
    gap: 16px;
  }

  /* Reviews  */
  /* Reviews  */
  /* Reviews  */

  .reviews h2 .decorative-text {
    margin-left: 35%;
  }

  .reviews .review-card {
    padding: 24px 16px;
  }

  .review-card img {
    width: 64px;
    height: 88px;
  }

  /* Final cta */
  /* Final cta */
  /* Final cta */

  .final-cta {
    padding: 64px 16px;
  }

  .final-cta .icon-banner:nth-child(1) {
    left: 7%;
    top: 64%;
  }

  .final-cta .icon-banner:nth-child(2) {
    left: 0%;
    top: 90%;
  }

  .final-cta .icon-banner:nth-child(3) {
    left: 85%;
    top: 95%;
  }

  .final-cta .icon-banner:nth-child(4) {
    left: 80%;
    top: 80%;
  }

  .final-cta .icon-banner:nth-child(5) {
    left: 2%;
    top: 75%;
  }

  .final-cta .icon-banner:nth-child(6) {
    left: 93%;
    top: 85%;
  }

  /* Footer */
  /* Footer */
  /* Footer */

  footer {
    height: 205px;
  }

  @keyframes circle {
    0% {
      transform: rotate(0deg) translate(-12px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(-12px) rotate(-360deg);
    }
  }

  /* Form */
  /* Form */
  /* Form */
  /* Form */
  /* Form */
  /* Form */
  /* Form */

  .form .button-row {
    flex-direction: column;
    align-items: start;
  }
}

@media only screen and (max-width: 450px) {
  /* Footer */
  /* Footer */
  /* Footer */

  footer {
    height: 180px;
  }

  .cloud-space img {
    width: 110px;
    left: 35%;
    top: 55%;
  }

  .cloud-space img:nth-child(2) {
    width: 100px;
    left: 70%;
    top: 57%;
  }

  .cloud-space img:last-child {
    width: 105px;
    left: 5%;
    top: 53%;
  }
}

@media only screen and (max-width: 370px) {
  .why-me .horizontal-icon-box svg {
    display: none;
  }

  .horizontal-icon-box {
    grid-template-columns: 1fr;
  }

  /* .why-me .double-box > div {
    padding: 0px;
  }

  .why-me .double-box > div .horizontal-icon-box,
  .why-me .double-box > div p {
    padding: 16px 16px 0 16px;
  } */

  /* Footer */
  /* Footer */
  /* Footer */

  .info-panel span {
    font-size: 0.8rem;
  }

  /* Reviews */

  .reviews .review-card {
    padding: 24px 8px;
  }

  .reviews .review-card {
    grid-column: 1 / -1;
  }

  .reviews .review-card:nth-child(2) {
    grid-column: 1 / -1;
  }

  .reviews .review-card:nth-child(3) {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: 350px) {
  /* Contact me */

  .click-banner:last-child {
    left: 60%;
    top: 68%;
  }

  .click-banner:nth-child(2) {
    left: 17%;
    top: 70%;
  }

  /* Footer */
  /* Footer */
  /* Footer */

  footer {
    height: 160px;
  }

  .cloud-space img {
    width: 90px;
    left: 35%;
    top: 64%;
  }

  .cloud-space img:nth-child(2) {
    width: 85px;
    left: 70%;
    top: 66%;
  }

  .cloud-space img:last-child {
    width: 87px;
    left: 5%;
    top: 58%;
  }
}
